[include shell_command.cfg]
[include fluidd.cfg]
[include mainsail.cfg]
#[include fluidd.cfg]
#[virtual_sdcard]
#path: /home/pi/printer_data/gcodes
#on_error_gcode: CANCEL_PRINT

# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

##---------------------------------------------------------------
##--  MACROS SECTION
##---------------------------------------------------------------
[include macros.cfg]
[include Line_Purge.cfg]
[include print_macros.cfg]
[include gcode_macros.cfg]
[include bed_macros.cfg]
[include extruder_macros.cfg]
[include KAMP_Settings.cfg]
[include Line_Purge.cfg]

##---------------------------------------------------------------
##--  PRINTER SECTION
##---------------------------------------------------------------
[printer]
kinematics: corexy
max_velocity: 500
max_accel: 2000
max_z_velocity: 10
max_z_accel: 100

##---------------------------------------------------------------
##--  MCU SECTION
##---------------------------------------------------------------
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_39004D0013504B5735313920-if00
restart_method: command

##---------------------------------------------------------------
##--  MODULES SECTION
##---------------------------------------------------------------
[exclude_object] 
#OBICO

##---------------------------------------------------------------
##--  MICROCONTROLLER SECTION
##---------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
#stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
#stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
#stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
#stealthchop_threshold: 999999

##---------------------------------------------------------------
##-- STEPPERS SECTION
##---------------------------------------------------------------
[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
#position_endstop: 260
position_endstop: 0
position_min: 0
position_max: 260
homing_speed: 50
#homing_retract_dist: 10.0

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 260
position_min: 0
position_max: 260
homing_speed: 50

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
#endstop_pin: ^PC2
#position_endstop: 0.0
position_max: 400
endstop_pin: probe:z_virtual_endstop
position_min: -2.0

##---------------------------------------------------------------
##--  BED LEVELING SENSOR SECTION
##---------------------------------------------------------------
[bltouch]                               # enable for BLTouch
sensor_pin: ^PC14
control_pin: PA1
x_offset: 20
y_offset: -7.13
speed: 3.0
samples: 2
#z_offset: 0.0

[bed_screws]
screw1: 50,50
screw1_name: rear right
screw2: 240,50
screw2_name: rear left
screw3: 240,240
screw3_name: front left
screw4: 50,240
screw4_name: front right
speed: 100.0

[screws_tilt_adjust]
horizontal_move_z: 5
screw_thread: CW-M4
screw1: 31.44,43.5
screw1_name: rear right
screw2: 221.4,43.5
screw2_name: rear left
screw3: 221.4,233.5
screw3_name: front left
screw4: 31.44,233.5
screw4_name: front right
speed: 100.0

[bed_mesh]                              # enable for BLTouch
speed: 120
mesh_min: 20,-1.3
mesh_max: 264,252.7
algorithm: bicubic
probe_count: 5, 5
horizontal_move_z: 2
mesh_pps: 2,3
fade_start: 1
fade_end: 10
fade_target: 0
zero_reference_position: 150.7, 137
adaptive_margin: 5

[safe_z_home]                           # enable for BLTouch
home_xy_position: 150.7, 137
speed: 100
z_hop: 10
z_hop_speed: 5

##---------------------------------------------------------------
##--  EXTRUDER SECTION
##---------------------------------------------------------------

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 25.3
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
#pid_Kp: 40.62
#pid_Ki: 7.75
#pid_Kd: 141.99
min_temp: 0
max_temp: 250
min_extrude_temp: 170
max_extrude_only_distance: 120
min_extrude_temp: 0
pressure_advance: 0.0266

[input_shaper]
#shaper_freq_x: 47.1
#shaper_freq_x: 47.1
shaper_freq_y: 28.125
shaper_freq_x: 29.165
#shaper_freq_y: 52.3
shaper_type: mzv

[firmware_retraction]
retract_length: 0.5
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 4
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 4
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

##---------------------------------------------------------------
##--  BED HEATER SECTION
##---------------------------------------------------------------
[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
#control: pid
#pid_Kp: 462.10
#pid_Ki: 85.47
#pid_Kd: 624.59
min_temp: 0
max_temp: 130

##---------------------------------------------------------------
##--  FAN SECTION
##---------------------------------------------------------------
[heater_fan heatbreak_cooling_fan]
pin: PC7

[heater_fan controller_fan]
pin: PB15

[fan]
pin: PC6

##---------------------------------------------------------------
##--  BOARD PIN SECTION
##---------------------------------------------------------------
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

##---------------------------------------------------------------
##--  FILAMENT SENSOR SECTION
##---------------------------------------------------------------
[filament_switch_sensor e0_sensor]
switch_pin: PC15

##---------------------------------------------------------------
##--  SDCARD SECTION
##---------------------------------------------------------------
[virtual_sdcard]
path: ~/printer_data/gcodes
[display_status]
[pause_resume]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 37.672
#*# pid_ki = 3.179
#*# pid_kd = 111.604
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.191
#*# pid_ki = 0.854
#*# pid_kd = 1283.272
#*#
#*# [bltouch]
#*# z_offset = 0.470
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.154004, -0.074004, -0.036504, -0.055254, -0.074004
#*# 	-0.092754, -0.064004, -0.022754, -0.005254, -0.054004
#*# 	-0.147754, -0.056504, -0.000254, -0.007754, -0.060254
#*# 	-0.126504, -0.044004, -0.002754, -0.015254, -0.087754
#*# 	-0.095254, -0.047754, -0.015254, -0.027754, -0.106504
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 264.0
#*# min_y = -1.3
#*# max_y = 252.7
